<div class="grid">
    <div class="pt-3 col-12">
        <h2 class="ml-2 pl-3">Categories</h2>
        <div *ngIf="categories && categories.length > 0">
            <div *ngFor="let category of categories" class="card m-2 p-3  " style="float: left;">
                <button pButton pRipple type="button" label="{{category | uppercase}}"  class="p-button-secondary p-button-text" (click)="displayProduct(category)"></button>
            </div>
        </div>
    </div>
    
    <div  *ngIf="SelectedCategories">
        <h2 class="ml-2 pl-3">{{SelectedCategories  | uppercase}}</h2>
        <div class="card">
            <p-carousel 
                [value]="products" 
                [numVisible]="3" 
                [numScroll]="3" 
                [circular]="true" 
                [responsiveOptions]="responsiveOptions" 
                [autoplayInterval]=3000>
                <ng-template let-product pTemplate="item">
                    <div class="border-1 surface-border border-round m-2 p-3 product-item " (click)="getProductDetails(product.id)">
                        <div class="mb-3">
                            <div class="relative mx-auto">
                                <img src="{{product.image}}" [alt]="product.title" class="w-1 h-1 border-round" />
                            </div>
                        </div>
                        <div class="mb-3 font-medium product-title">
                            {{ product.title }}
                        </div>
                        <div class="flex justify-content-between align-items-center">
                            <div class="mt-0 font-semibold text-xl">
                                {{ '$' + product.price }}
                            </div>
                            <span>
                                <p-rating [(ngModel)]="product.rating.rate" [readonly]="true" [cancel]="false"></p-rating>
                            </span>
                        </div>
                    </div>
                </ng-template>
            </p-carousel>
        </div>
    </div>
    
</div>
